:root {
    --pink: #d6006d;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

img,
video {
    width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

li,p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;

}

.mobile {
    display: none;

}

/* header */
header {
    margin: auto;
    padding: 10px 0;
}

header img {
    width: 85px;
    display: block;
    margin: auto;
}

header hr {
    border-top: 5px solid var(--pink);
    margin-top: -42px;

}

/* product */

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 40px auto;
}

.product div {
    margin: auto;
}

h1 {
    color: var(--pink);
}

.product img {
    width: 75%;
    margin: auto;

}

.title {
    font-size: 30px;
    text-align: center;
    color: var(--pink);

}

.how-to-use {
    margin: 70px auto;
}

.how-to-use ul {
    margin-top: 50px;
}

.how-to-use ul li {
    margin: 15px;
    list-style-type: disc;

}
.keys ul li b{
    color: var(--pink);
    display: block;
    font-size: 18px;
}
.keys ul li{
    margin: 15px;
}
.beauty-line {
    background-color: var(--pink);
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 70px auto;
}

.beauty-line h2 {
    font-size: 37px;
    font-weight: 900;
    padding: 20px;

}


.about {
    position: relative;
}

.about div {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.cta {
    display: block;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    margin: 25px auto;
    color: white;
    font-weight: 900;
    letter-spacing: 1.5px;
    border: 1px solid var(--pink);
    background-color: var(--pink);
    padding: 15px 25px;
    width: 50%;
    border-radius: 15px;
}

.about div h3 {
    font-size: 27px;

}

.bullets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 40px auto;
    column-gap: 50px;
}

.bullets img:first-child {
    border-radius: 25px;
}


.bullets ul li {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.bullets ul li img {
    width: 45px;
    margin-right: 10px;
    mix-blend-mode: multiply;
}

#showlesscomments,
#showlesscomments2 {
    display: none;
}

.text {
    display: none;
}

.banner {
    position: relative;
    margin: 50px auto;
}

.banner div {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

}

.banner div h2 {
    text-align: center;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 1px;
    color: white;
    margin: 0;
}

.banner div a {
    margin: auto;
    background-color: unset;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    width: 50%;

}

.banner h2 span {
    display: block;
    font-weight: 500;

}



/* faq */

.q {
    font-weight: 700;
    font-size: 16px;
    margin: 7px 0;
    padding: 15px 20px;
    background-color: #fdadbd46;
    margin: 0;
    color: black;
    border-radius: 15px;

}

.a {
    display: none;
    margin: 0;
    padding: 15px;
    padding-top: 0;
    margin-top: 5px;
    font-size: 14px;

}

.faq-content {
    margin: 20px auto;
    color: black;

}

.faq-div {
    /* padding: 25px; */
    color: #005280;
}

.faq {
    /* background-color: #ccdee8; */
    margin: 0;
    padding: 25px 0;
}


.title h3 {
    margin: 0;
    padding: 10px 0;
}

.stars {
    color: var(--pink);

}

.review-mark p {
    font-size: 40px;
    font-weight: 900;
    margin-right: 15px;
}

.review-mark {
    display: flex;
    align-items: center;
}


.review {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 25px 0;
}

.name {
    font-size: 20px;
    margin-bottom: 10px;
}

.review-text {
    width: 60%;
    margin-bottom: 10px;

    /* margin: auto 0; */
}

.reviews h3 {
    margin-top: 0;
}

.reviews hr {
    border-top: 2px solid var(--pink);
    width: 70%;
}




/* order */

.order {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    margin: 50px auto;
}

.order-img {
    width: 70%;
    margin: auto;
}

.order-from {
    margin: auto 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
select {
    margin: 5px 0;
    padding: 5px;
}


.order-from h2 {
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: var(--pink);
    padding: 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 15px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
}

.order-from button {
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: var(--pink);
    padding: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 15px;
    border: none;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.ingr {
    background-image: url(../images/360_F_495176666_QsaOva3gettb6Dgo2B4AMmUzioxpFUaE.jpg);
    padding: 40px 0;
    border-radius: 25px;
    box-shadow: 5px 5px 25px 3px rgba(135, 135, 135, 1);

}

.ingr p {
    font-size: 18px;
    width: 80%;
    margin: auto;
}

.ingr p b {
    display: block;
    font-size: 22px;
}




/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}



@media screen and (max-width: 1400px) {
    .container {
        width: 80%;
    }

    .reviews hr {
        border-top: 2px solid var(--pink);
        width: 80%;
    }

    .review-text {
        width: 75%;
    }
}


@media screen and (max-width: 1200px) {
    p {
        font-size: 16px;
    }

    .about,
    .how-to-use,
    .banner {
        width: 100%;
    }

    .how-to-use-text {
        width: 80%;
        margin: auto;
    }
}


@media screen and (max-width: 994px) {

    .cta {
        margin: 10px auto;
        font-size: 23px;

    }

    .about div {
        width: 54%;
        position: absolute;
        top: 50%;
        left: 33%;
        transform: translate(-50%, -50%);
    }

    .about div h3 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .bullets {
        column-gap: 15px;
    }

    .bullets ul li img {
        width: 50px;
    }

    .banner div h2 {
        font-size: 35px;
    }

    .banner div a {
        width: 70%;
    }

    .reviews hr {
        width: 100%;
    }

    .review-text {
        width: 100%;
    }

    .order-img {
        width: 100%;
        margin: auto;
    }

    .order {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}



@media screen and (max-width: 768px) {

    .product img {
        width: 100%;
        margin: auto;
    }

    .beauty-line h2 {
        font-size: 30px;
    }

    .about div {
        width: 80%;
        margin: auto;
        position: unset;
        transform: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;

    }

    .about div h3 {
        margin: 25px auto;

    }

    .cta {
        margin: 25px auto;
    }

    .bullets {
        display: block;
    }

    .order {
        display: block;
    }




}

@media screen and (max-width: 600px) {
    .banner div h2 {
        font-size: 23px;
    }


}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }

    .about,
    .how-to-use,
    .banner {
        width: 100%;
    }

    .product {
        display: block;
    }

    .banner div h2 {
        font-size: 22px;
    }

    .banner div a {
        margin: auto;
        background-color: unset;
        font-size: 22px;
        padding: 10px 15px;
        border-radius: 15px;
        color: white;
        border: 2px solid white;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .ingr p b {
        display: block;
        font-size: 20px;
    }

    .ingr p {
        font-size: 16px;
        width: 80%;
        margin: auto;
    }

    footer div.links {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 5px;
    }

    footer a {
        margin: 5px;
    }

    footer p.disclaimer {
        width: 95%;
    }

    .banner div {
        width: 60%;
    }

    .review {
        display: grid;
        grid-template-columns: 125px 1fr;
    }

    p,li {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 411px) {

    .cta {
        width: 70%;
    }

    .order-from h2 {
        font-size: 22px;
    }

    .title {
        font-size: 28px;
    }
}