:root {
    --pink: #d6006d;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

img, video {
    width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

p{
    font-size: 16px;
    line-height: 1.4;
    margin: 0;

}
/* header */
header{
    margin: auto;
    padding: 10px 0;
}
header img{
    width: 85px;
    display: block;
    margin: auto;
}

header hr{
    border-top: 5px solid var(--pink);
    margin-top: -42px;

}

/* product */

.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 40px auto;
}

.product div{
    margin: auto;
}

h1{
    color: var(--pink);
}
.product img{
    width: 75%;
    margin: auto;

}

.title{
    font-size: 30px;
    text-align: center;
    color: var(--pink);

}
.how-to-use{
    margin: 70px auto;
}

.beauty-line{
    background-color: var(--pink);
    color: white;
    text-align: center;
    text-transform: uppercase;

}
.beauty-line h2{
    font-size: 37px;
    font-weight: 900;
    padding: 20px;

}












/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}
